# HT: https://framework.zend.com/manual/1.12/en/coding-standard.php-file-formatting.html

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

[*.php]
indent_size = 4
max_line_length = 120

[*.go]
indent_size = 4
indent_style = tab
max_line_length = 100

[*.py]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
